*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: darkblue;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 95vh;
  margin: 20px 30px 50px 30px;
  padding: 50px;
  background: #E4E4EF;
  background: linear-gradient(to top left, #E4E4EF, #FEFEFF);
}

.mainBox {
  max-width: 50%;
  padding: 20px;
}

/*mainBox left*/
.mainBoxLeft {
  padding-top: 80px;
}

h5 {
  text-transform: uppercase;
  color: #8a8ad3;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 50px;
}

h1 {
  font-size: 50px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}

p {
  line-height: 1.7;
  font-weight: bold;
  color: #8a8ad3;
  display: inline-block;
  margin-top: 5px;
  padding-right: 20px;
  position: relative;
  z-index: 3;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: orange;
  height: 40px;
  text-transform: uppercase;
  border-radius: 8%;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  position: relative;
  z-index: 3;
  width: 80px;
}

/*mainbox Right*/
.mainBoxRight {
  margin-top: -30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.verticalBox {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.verticalBoxRight {
  margin-top: 20px;
  margin-left: 10px;
}

/*smallBox inside mainBox Right*/
.smallBox {
  width: 270px;
  height: 230px;
  padding: 16px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e6e5e5;
}

.smallBox p {
  font-size: 14px;
  line-height: 1.5;
}

.buildingBlue {
  background-color: #a1c5f5;
  color: #5298f3;
  border-radius: 5px;
  padding: 6px;
}

.buildingYellow {
  background-color: #f5eda1;
  color: #f3c852;
  border-radius: 5px;
  padding: 6px;
}

.buildingGreen {
  background-color: #a4f5a1;
  color: #66be1e;
  border-radius: 5px;
  padding: 6px;
}

.buildingPurple {
  background-color: #d6a1f5;
  color: #b852f3;
  border-radius: 5px;
  padding: 6px;
}

/*circle*/
.circle {
  position: relative;
  width: 900px;
  height: 900px;
  top: -220px;
  left: -100px;
}

.quarter {
  position: absolute;
  border-radius: 50%;
  width: 900px;
  height: 900px;
  bottom: 18px;
}

.quarter.blue {
  background-color: #eeeef5;
  clip: rect(0px, 440px, 440px, 30px);
  width: 900px;
  margin-bottom: -11px;
  position: absolute;
  z-index: 1;
}

/*triangle*/
.triangle {
  position: absolute;
  width: 0;
  height: -100px;
  border-top: 400px solid #eeeef7;
  border-left: 400px solid transparent;
  margin: 25px auto 0;
  z-index: 1;
  margin-top: -40px;
  margin-left: 220px;
}

.triangleSmall {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 220px solid #e8e8f3;
  border-left: 220px solid transparent;
  margin: 25px auto 0;
  z-index: 1;
  margin-top: 180px;
  margin-left: 185px;
}

@media (max-width: 768px) {
  .container {
    height: auto;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
  }
  .mainBox {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .verticalBoxRight {
    margin-left: 0;
  }
  .triangle, .circle, .quater, .triangleSmall {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .container {
    height: auto;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mainBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 auto 0 auto;
  }
  .verticalBoxRight {
    margin-left: 5px;
  }
  .triangle, .circle, .quater, .triangleSmall {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */