*, *::before, *::after {
    box-sizing: border-box;
}

$font-main: 'Lato', sans-serif;
$color-main: darkblue;
$color-text: #8a8ad3;

body {
    background-color: black;
    font-family: $font-main;
    color: $color-main;    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;       
    height: 95vh;
    margin: 20px 90px 50px 90px;
    padding: 50px;    
    background: #E4E4EF;
    background: -webkit-linear-gradient(bottom right, #E4E4EF, #FEFEFF);
    background: -moz-linear-gradient(bottom right, #E4E4EF, #FEFEFF);
    background: linear-gradient(to top left, #E4E4EF, #FEFEFF);  
}

.mainBox {
    max-width: 50%;       
    padding: 10px;    
}

/*mainBox left*/

.mainBoxLeft {
    padding-top: 80px;        
}

span {
    color: blue;
}

h5 {
    text-transform: uppercase;
    color: $color-text; 
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 50px;    
}

h1 {
    font-size: 50px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    position: relative;
    z-index: 3;
    font-weight: 300;
}

p {
    line-height: 1.7;
    font-weight: bold;
    color: $color-text;
    display: inline-block;
    margin-top: 5px;
    padding-right: 20px;
    position: relative;
    z-index: 3;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: orange;
    height: 40px;    
    text-transform: uppercase;
    border-radius: 8%;
    font-size: 12px;
    padding: 10px 20px;
    font-weight: 700;
    position: relative;
    z-index: 3;
    width: 80px;
}

/*mainbox Right*/

.mainBoxRight {
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
}

.verticalBox {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 3;    
    justify-content: space-around;        
}

.verticalBoxRight {
    margin-top: 20px;
    margin-left: 20px;    
}

/*smallBox inside mainBox Right*/

.smallBox {
    width: 290px;
    height: 250px;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(230, 229, 229);   
}

.smallBox p {
    font-size: 13px;
    line-height: 1.5;    
}

.smallBox h3 {
    line-height: 1.7;
}

.buildingBlue {
    background-color: #b3d1f8;
    color:#5298f3;
    border-radius: 5px;
    padding: 10px 6px;      
}

.buildingYellow {
    background-color: #f5eda1;
    color:#f0bb48;
    border-radius: 5px;
    padding: 10px 6px;    
}

.buildingGreen {
    background-color: #b4ddc9;
    color:#779e56;
    border-radius: 5px;
    padding: 10px 6px;    
}

.buildingPurple {
    background-color: #d6a1f5;
    color:#b852f3;
    border-radius: 5px;
    padding: 10px 6px;    
}

/*circle*/

.circle {
    position: relative;
    width: 900px;
    height: 900px;
    top: -242px;
    left: -80px;    
}
.quarter {
    position: absolute;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    bottom: 18px;
}

.quarter.blue {
    background-color:#eeeef5;    
    clip: rect(0px, 440px, 440px, 30px);
    width: 900px;
    margin-bottom: -11px;
    position: absolute;
    z-index: 1;    
}

/*triangle*/

.triangle {
	position: absolute;
    width: 0;
	height: -100px;
	border-top: 400px solid #eeeef7;
	border-left: 400px solid transparent;
	margin: 25px auto 0;
    z-index: 1;
    margin-top: -30px;
    margin-left: 307px;            
}

.triangleSmall {
	position: absolute;
    width: 0;
	height: 0;
	border-top: 220px solid #e8e8f3;
	border-left: 220px solid transparent;
	margin: 25px auto 0;
    z-index: 1;
    margin-top: 190px;
    margin-left: -10px;    
}


@media (max-width: 768px) {
    .container {
        height: auto;
        width: auto;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;        
    }

    .mainBox {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        margin-top: 10px;       
    }

    .verticalBoxRight {
        margin-left: 0;
    }    
    
    .triangle, .circle, .quater, .triangleSmall {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1140px) {
    .container {
        height: auto;
        width: auto;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        justify-content: space-around;                
    }

    .mainBox {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 0 auto;             
    }
        
    .verticalBoxRight {
        margin-left: 5px;
    }
    
    .triangle, .circle, .quater, .triangleSmall {
        display: none;
    }
}










